<li className={""}>
    <div className="timeline-image">
      <img
        className="rounded-circle img-fluid"
        src="assets/img/about/dangus.jpg"
        alt=""
      />
    </div>
    <div className="timeline-panel">
      <div className="timeline-heading">
        <h4>2020-2021</h4>
        <h4 className="subheading">mūsų vietos po saule paieškos</h4>
      </div>
      <div className="timeline-body">
        <p className="text-muted">
          Bene pirmieji iš sulčių gamintojų savo istoriją ėmėme pasakoti instagrame:<a href="https://www.instagram.com/zavinta_naturaliossultys/">zavinta_naturaliossultys</a> Jeigu įdomu sužinoti daugiau apie mus ir mūsų kasdienybę užsukite. Ši svetainė taip pat yra mūsų šeimos bendras darbas. Taip atsitinka, kai šeimoje gyvena web dizainerė ir programuotojas.
        </p>
      </div>
    </div>
  </li>